@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #e5e5e5;
  display: flex;
  width: 100%;
  justify-content: center;
}

#root {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 28rem) {
  #root {
    width: 24.5rem;
  }
}

#root::-webkit-scrollbar {
  display: none;
}

.MuiTabs-indicator {
  /* Mui Tabs 선택 엘리먼트 하단 바 색깔 */
  background-color: black !important;
  height: 3px;
}
